{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
  <h1>TimTron</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Liste des parties</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for game in games %}
        <tr>
          <td>{{ game.id }}</td>

          {% if game.j1 %}
          <td>{{ game.j1.username }}</td>
          {% else %}
          <td> - </td>
          {% endif %}

          {% if game.j2 %}
          <td>{{ game.j2.username }}</td>
          {% else %}
          <td> - </td>
          {% endif %}

          <td>{{ game.status }}</td>

          <td>
            {% if game.can_play(user) %}
            <a href="{{ url('tim_tron_game_run', { 'id': game.id }) }}" class="btn btn-warning">Jouer</a>
            {% endif %}
            {% if game.can_join(user) %}
            <form action="{{ url('tim_tron_game_join', { 'id': game.id }) }}" method="post">
              <button type="submit" class="btn btn-info">Rejoindre</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-md-6">
      <h2>Vos parties</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for game in user.games %}
        <tr>
          <td>{{ game.id }}</td>

          {% if game.j1 %}
          <td>{{ game.j1.username }}</td>
          {% else %}
          <td> - </td>
          {% endif %}

          {% if game.j2 %}
          <td>{{ game.j2.username }}</td>
          {% else %}
          <td> - </td>
          {% endif %}

          <td>{{ game.status }}</td>

          <td>
            {% if game.can_play(user) %}
            <a href="{{ url('tim_tron_game_run', { 'id': game.id }) }}" class="btn btn-warning">Jouer</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <form action="{{ url('tim_tron_game_create') }}" method="post">
      <button type="submit" class="btn btn-default">Créer une partie</button>
    </form>
  </div>
</div>
{% endblock %}
