<!DOCTYPE html>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='Jeux créé à l ENI' name='description'>
<meta content='tron, jeux, jeux http' name='keywords'>
<title>{% block title %}Welcome to TimTron!{% endblock %}</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}

<link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
<link href="" media="screen" rel="stylesheet" type="text/css" />
<script src="" type="text/javascript"></script>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('tim_tron_homepage') }}">PHP, Projet Horriblement Programmé</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url('tim_tron_about') }}">À propos de</a></li>
        <li><a href="{{ url('tim_tron_contact') }}">Contact</a></li>
        <li><a href="{{ url('tim_tron_rules') }}">Fonctionnement</a></li>
      </ul>
    </div>
  </div>
</div>
{% block body %}{% endblock %}
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('tim_tron_homepage') }}">PHP, Projet Horriblement Programmé</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://opensource.org/licenses/MIT">Licence MIT</a></li>
        <li><a href="#">Copyright 2013</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
