<!DOCTYPE html>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='Jeux créé à l ENI' name='description'>
<meta content='tron, jeux, jeux http' name='keywords'>
<title>{% block title %}Welcome to TimTron!{% endblock %}</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}

<link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
<link href="{{ asset('style/style.css') }}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('tim_tron_homepage') }}">PHP, Projet Horriblement Programmé</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url('tim_tron_about') }}">À propos de</a></li>
      <li><a href="{{ url('tim_tron_contact') }}">Contact</a></li>
      <li><a href="{{ url('tim_tron_rules') }}">Fonctionnement</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if app.user %}
      <li><p class="navbar-text">Bonjour {{ app.user.username }}</p></li>
      <li><a href="{{ url('logout') }}">Se déconnecter</a></li>
      {% else %}
      <li><a href="{{ url('tim_user_login') }}">Se connecter</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% block body %}{% endblock %}
<div class="navbar navbar-inverse navbar-bottom navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('tim_tron_homepage') }}">TimTron</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://opensource.org/licenses/MIT">Licence MIT</a></li>
      <li><p class="navbar-text">Copyright 2013</p></li>
    </ul>
  </div>
</div>
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
